<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDB103Dialect</property>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://127.0.0.1:3306/company_db</property>
        <property name="hibernate.connection.username">company</property>
        <property name="hibernate.connection.password">company</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.autoReconnect">true</property>

        <!--<mapping class="com.hib.model.Country"/>-->
        <mapping class="com.hib.sep.Student"/>
        <mapping class="com.hib.sep.Book"/>

    </session-factory>

</hibernate-configuration>